<div class="container">
      <div @anim1>
            <div  class="logo">
                        <img src="https://res.cloudinary.com/con2cus/image/upload/v1510673031/gear_ee63jt.jpg" alt="">
            </div>  
      </div>
            
              <br>
              <div @anim2>
                  <div class="cont">
                              <h1>Über uns</h1>
                              <br>
                              <h3>
                                  <p>
                                        Warum heißen wir Con2Cus?
                                  </p>
                                  <p>
                                        Con2Cus (ausgesprochen werden wir [kontukass]) ist eine abgekürzte Schreibweise für Concepts to Customers. Und damit haben wir auch schon den Grundstein für unser Handeln benannt sowie gleichzeitig auch herausgestellt, was uns von anderen Unternehmensberatungen unterscheidet: 
                                        Konzepte spielen nämlich eine wesentliche Rolle in unserem Handeln.
                                  </p>
                                  <p>
                                        Gute Beratung setzt in unseren Augen nicht nur breites und fundiertes Wissen voraus, sondern erst recht die Fähigkeit, dieses Wissen im Rahmen eines abgestimmten Konzeptes anzuwenden. 
                                        In Abhängigkeit von der jeweiligen Aufgabenstellung können Konzepte sowohl sehr ausführlich und umfangreich als auch kurz und knapp formuliert werden, um das Budget zu schonen; wir haben jedoch die Erfahrung gemacht, dass Tätigkeiten, denen ein abgestimmtes Konzept zugrunde liegt, meist schneller, effizienter und im Budget durchgeführt werden. Von dieser Erfahrung profitieren auch unsere Kunden.
                                  </p>
                                  <p>
                                        Für unsere Kunden erstellen wir Konzepte für die gesamte Beratungskette von der Bestandsaufnahme über die Zielformulierung und Strategie bis hin zur Implementation und Training sowie Support und Optimierung. Gerne erstellen wir auch Konzepte für Ihre Projekte. Dabei haben wir unseren Schwerpunkt in der Anlagenbewirtschaftung für produzierende Unternehmen, haben aber auch relevante Erfahrung in der Getränkeindustrie, der Versorgungs- und Entsorgungsindustrie sowie im Anlagenbau.
                                  </p>
                              </h3>
                  </div>
              </div>
              
        </div>
    