<div class="container" >



 <div @contact_anim_2>
     <div class="cont">
        <h1>
                Impressum
        </h1>
        <br>
        <h2>
            <mat-card>
            <p>
                    Adresse: Allscheidt 8b, 40883 Ratingen
                    Telefon: +49 2102 535 68 42
                    Telefax: +49 2102 535 68 43
            </p>
           </mat-card>
           <br>
           <mat-card>
                <p>
                        Geschäftsführer: Taner Korkankorkmaz
                </p>
           </mat-card>
           <br>
            <mat-card>
                    <p>
                            Registergericht: Amtsgericht Düsseldorf 
                            Registernummer: HRB 66313 
                            Umsatzsteuer-Identifikationsnummer: 147/5813/1645
                    </p>
            </mat-card>
            <br>
            <mat-card>
                    <p>
                            Rechtlicher Hinweis:
                            
                            Die Con2Cus Concepts to Customers GmbH übernimmt keine Gewähr dafür, dass der Inhalt dieser Seiten richtig, vollständig und aktuell dargestellt ist. Insbesondere für Inhalte mit externem Bezug mit weiterleitenden Links auf externe Internetseiten, auf die direkt oder indirekt verwiesen wird, ist die Con2Cus Concepts to Customers GmbH nicht verantwortlich und übernimmt keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität dieser Internetseiten
                    </p>
            </mat-card>
            
        </h2>
     </div>
 </div>
</div>
