 <mat-sidenav-container fullscreen  >
    <button type="button" mat-fab  (click)="sidenav.toggle()"class="navButton" color="disabled">
        <i class="material-icons">apps</i>
    </button>
    <mat-sidenav #sidenav  mode="side" class="app-sidenav">
        <mat-list>
            <mat-list-item >
              <a mat-button routerLink=""><mat-icon >home</mat-icon><br>  Home</a>
              </mat-list-item>
              <br>
            <mat-list-item >
              <a mat-button routerLink="about"><mat-icon >people</mat-icon><br> About</a>
            </mat-list-item>
              <br>
            <mat-list-item >
              <a mat-button routerLink="services"><mat-icon >build</mat-icon><br> Services</a>
            </mat-list-item>   
              <br>
            <mat-list-item >
              <a mat-button routerLink="products"><mat-icon >code</mat-icon><br> Products</a>
            </mat-list-item>  
               <br>   
            <mat-list-item >
              <a mat-button routerLink="jobs"><mat-icon >people_outline</mat-icon><br> Jobs</a>
            </mat-list-item>     
              <br>
            <mat-list-item >
              <a mat-button routerLink="contact"><mat-icon >perm_contact_calendar</mat-icon><br> Contact</a>
            </mat-list-item>           
        </mat-list>
      <!-- stuff goes in here -->
    </mat-sidenav>

    
        <router-outlet></router-outlet>
    
  </mat-sidenav-container>
  
 




