<div class="container" >
    <img src="https://res.cloudinary.com/con2cus/image/upload/v1510674022/service_level_xmlked.jpg" alt="">
    <br>
    <h1>Karriere</h1>
    <br>
    <h3>
      <p>
          Stellenausschreibung:
      </p>
      <br>
      <p>
          IT-Support und Portalentwicklung
      </p>
      <p>
          Wir sind eine kleine, aber sehr erfolgreiche und innovative Firma in der IT-Beratung. 
          Seit unserer Gründung haben wir uns einen enormen Ruf als zuverlässiges, hochmotiviertes und kundenorientiertes Unternehmen aufgebaut. 
          Die Qualität unserer Arbeit ist unser Aushängeschild bei unseren Kunden. Unsere Mission ist es, unsere Kunden im globalen Wettbewerb zu stärken. 
          Dabei beraten wir unsere Kunden nicht nur, sondern helfen ihnen auch, die Beratungsergebnisse zu entwickeln und zu supporten. 
          In diesem Zusammenhang suchen wir Mitarbeiter für den Support einer Applikation des Kunden zur Auftragsvergabe an externe und interne Dienstleister mit Schnittstellen zu SAP. 
          Idealerweise haben Sie bereits im Support gearbeitet und haben gute technische Kenntnisse im Bereich von Server- und Datenbankwartung sowie -optimierung. 
          Sie beherrschen sowohl die deutsche als auch die englische Sprache in Wort und Schrift.
           Sie sind reisebereit (in der Regel innerhalb von NRW, in Ausnahmefällen auch darüber hinaus) und nehmen auch an Meetings des Kunden teil.
            Dabei geben Sie mit Ihren Fachkenntnissen, Ihrer Kleidung und Ihrem Auftreten ein professionelles Bild ab.
      </p>
      <p>
          Da Ihre Aufgabe neben dem Support auch die Weiterentwicklung einer unserer Portale umfassen wird, haben Sie idealerweise auch Programmierkenntnisse in PHP und MySQL und/oder ABAP mit WebService-Entwicklung. Da wir hiermit insgesamt zwei halbe Stellen respektive eine volle Stelle ausschreiben, fühlen Sie sich bitte auch dann zur Bewerbung ermutigt, wenn Sie nur an einem Teilzeitvertrag interessiert sind.
      </p>
      <p>
          Wir bieten Ihnen eine gute und detaillierte Einarbeitung, Teamarbeit, sowie eine marktgerechte Bezahlung. Wir unterstützen die Work-Life-Balance durch die Möglichkeit, einen Tag pro Woche remote zu arbeiten (nicht in der Einarbeitungszeit).
      </p>
      <p>
          Wenn Sie an dieser Karrieremöglichkeit interessiert sind, richten Sie bitte Ihre elektronische Bewerbung mit Angabe Ihres Gehaltswunsches an: <a href="" mat-button> jobs@con2cus.de</a> 
      </p>
    </h3>
        </div>