<div class="container" >

    <div @products_anim_1>
        <div class="logo">
                <img src="https://res.cloudinary.com/con2cus/image/upload/v1510673204/efficacy_level_ydbq0i.jpg" alt="">
        </div>
    </div>
            
              <br>
              <div @products_anim_2>
                  <div class="cont">
                        <h1>Produkte</h1>
                        <br>
                        <h3>
                          <p>
                              Folgende Lösungen bieten wir individuell auf Ihre Prozesse zugeschnitten an:
                          </p> 
                          <p>
                                Integration von Sensordaten ins SAP PM für die Früherkennung von ungeplanten Stillständen 
                                Prozessmonitor für die optische Nachvollziehbarkeit von Verzögerungen und Störungen in Abrechnungsprozessen in der Instandhaltung und im Service Management 
                                Mobile Lösung zur Auftragsbearbeitung
                                
                          </p>
                           <p>
                              Neben individuellen Lösungen können Sie bei uns auch bereits erstellte Produkte und Dienstleistungspakete zum Festpreis bestellen. Folgende Produkte und Dienstleistungen bieten wir aktuell zum Festpreis an:
                           </p>
                            <p>Migration von Stammdaten (Materialien, Kunden, Lieferanten, Technische Plätze, Equipments, Arbeitspläne, Wartungspläne) 
                                Migration von Bewegungsdaten (Meldungen, Aufträge, Preise, Materialbestände) 
                                Abbildung einer organisatorischen Umstrukturierug in SAP PM (Anpassung von Arbeitsplätzen, Technischen Plätzen, Equipments, Materialien, Arbeitsplänen, Wartungsplänen)
                            </p>
                        </h3>
                      
                  </div>
              </div>
              
             
        </div>