<div class="container" >
    <div @services_anim_1>
        <div class="logo">
                <img mat-card-image src="https://res.cloudinary.com/con2cus/image/upload/v1510672283/solution_qkynke.jpg" alt="">
        </div>
    </div>
            
              <br>
            <div @services_anim_2>
                <div class="cont">
                        <h1>
                                Lösungen
                            </h1>
                            <br>
                            <h3>
                              <p>
                                  Suchen Sie nach ausgefeilten SAP-Lösungen für Ihr Unternehmen? 
                                  Interessiert es Sie zu wissen, wie Sie Sensordaten zur Optimierung Ihrer Produktions- und Instandhaltungsprozesse nutzen können? 
                                  Möchten Sie die Komplexität aus Ihren Geschäftsprozessen herausnehmen und so eine Effizienzsteigerung erreichen?
                              </p>
                              <p>
                                  Wenn Sie mindestens eine dieser Fragen mit "Ja" beantworten, dann sollten Sie Kontakt zu uns aufnehmen. 
                                  Wir unterstützen Sie mit verlässlichen Konzepten und beraten Sie effektiv auf Ihrem Weg zum erfolgreichen Projektabschluss. 
                                  Auch wenn Sie genau wissen, was Sie tun wollen, aber aus Kapazitätsgründen einen verlässlichen Partner für die Durchführung von SAP-Projekten benötigen, dann sollten Sie sich an uns wenden. 
                                  Hinsichtlich der ERP-Software SAP R/3 bieten wir über die betrieblichen Prozesse und ihrer Optimierungen hinaus die gesamte Expertise mit Konzepten, Zieldefinitionen,Machbarkeitsstudien, Implementierungen, Test, Wartung und Schulungen zu sehr konkurrenzfähigen Preisen. 
                                  Mit unserer qualitäts- und kostenbewussten Vorgehensweise haben wir uns einen guten Ruf bei unseren Kunden erarbeitet.
                              </p>
                              <p>
                                    Nehmen Sie Kontakt zu uns auf, Sie werden zufrieden sein!
                              </p>
                            </h3>
                </div>
            </div>     
 </div>